In [1]:
c=3
print(c)

3

#jupyter markdown

# python shortcuts
## jupyter markdown
### welcome to python

In [4]:
x=3
print(x)

3

- project 1
  - **sub point 1.1**
 
  - *sub point 1.2*
  
  -***sub point 1.3***

- point 2
- point 3
- point 4

## python introduction
- python 3
- python can be used as functional programming
- python can be used as scripting programming also.
- PYTHON INTIALLY DESIGNED BY *GUOLDO VAN ROSSOW* IN 1991.

In [10]:
#INPUT AND OUTPUT FUNCTION
#output function
print("hello world!")
print("welcome to python programming")

hello world!
welcome to python programming

In [20]:
#string concatenation
print("gitam ",end ='')
print("university")

gitam university

In [19]:
#input function
print("enter the name :")
a=input('')
print("your name is :",a)
print(a )

enter the name :
smk
your name is : smk
smk

In [30]:
# declare the data type for the input
print("enter the two numbers")
a= int( input(''))
b=int( input(''))
print(a)
print(b)
c=a+b
print(c)
print(type(a),type(b))

enter the two numbers
12
34
12
34
46
<class 'int'> <class 'int'>

In [31]:
#accept name and age of a person  and print the output in the following 
#my name is smk  and age is 25

In [40]:
print("enter the name of the person")
name = input('')
print("age is")
age= int(input(''))
print("my name is :",name,"and age is",age)

enter the name of the person
smk
age is
20
my name is : smk and age is 20

# data types 
## int
### str
#### bool
#### float
###### complex

In [52]:
c=1+3j
d=10+3j
print(c+d)
type(c)

(11+6j)

complex

# collection of datatypes
- list
- dictionary
- tuples
- set

In [47]:
bool(234567)

True

In [46]:
bool(1)

True

In [48]:
list=[1,2,3,4,5]
type(list)

list

In [49]:
set=(1,2,3,4,5,6,7)
type(set)

tuple

In [50]:
s={1,2,3,4,5,6,7}
type(s)

set

In [53]:
a=12<34
print(type(a),a,range(a))

<class 'bool'> True range(0, True)

In [87]:
#strings
s1="abc"
s2="qwerty"
print(s1[-1])
print(s2[2:5])#slicing
print(s2[0:6])
print(s2[-5:])

c
ert
qwerty
werty

In [96]:
#string_reverse
str1="python"
str1[::-1]
str1= str1.replace('n','nz')
print(str1)

pythonz