# collectiontype
    - 1.list
    - 2.tuple
    - 3.dictionary

# list is indexed,ordered,mutable,allows duplicate values

In [37]:
list1=['smk',11,50]
#adding elements in the  list
list1.append(232.32)
list1.append(100)
print(list1)
list1.insert(3,200)
print(list1)
#adds elements into list at-last
list1.extend([400,500,600])
print(list1)
#removing elements from the list using -> pop(),remove(),del
del list1[-1]
print(list1)
#removing elements using pop method
list1.pop()
print(list1)
r=list1.pop(4)#returns element which is removed 
print(list1)
print(list1,r)
#removing elemets using remove()
list1.remove(50)
print(list1)

['smk', 11, 50, 232.32, 100]
['smk', 11, 50, 200, 232.32, 100]
['smk', 11, 50, 200, 232.32, 100, 400, 500, 600]
['smk', 11, 50, 200, 232.32, 100, 400, 500]
['smk', 11, 50, 200, 232.32, 100, 400]
['smk', 11, 50, 200, 100, 400]
['smk', 11, 50, 200, 100, 400] 232.32
['smk', 11, 200, 100, 400]

In [38]:
list1.append(300)
print(list1)

['smk', 11, 200, 100, 400, 300]

# list assignment

In [39]:
list1[1]=500
print(list1 )

['smk', 500, 200, 100, 400, 300]

In [32]:
list1.index(500)

1

In [41]:
list1.reverse()
list1

['smk', 500, 200, 100, 400, 300]

In [43]:
list1.sort(reverse=True)
list1

TypeError: '<' not supported between instances of 'str' and 'int'

In [45]:
list3=list1.copy()
list3

['smk', 500, 400, 300, 200, 100]

In [46]:
list1.append(400)
list1.append(500)
print(list1,list3)

['smk', 500, 400, 300, 200, 100, 400, 500] ['smk', 500, 400, 300, 200, 100]

In [48]:
list1.count(400)

2

In [ ]:
# accept 3 subject marks of a student and store values in a list and return total marks of a student

In [55]:
list1=[]
s1=int(input("enter s1 marks:"))
s2=int(input("enter s2 marks: "))
s3=int(input("enter s3 marks:"))
list1.extend([s1,s2,s3])
a=sum(list1)
print(a)

enter s1 marks:12
enter s2 marks: 23
enter s3 marks:56
91

In [56]:
n=int(input("enter the no.of subjects"))
marks=[]
for i in range (n):
    marks.append(int(input()))
print("sum",sum(marks))

enter the no.of subjects3
12
23
56
sum 91

In [57]:
list=[100,34567,435678,789]
max(list)

435678

In [3]:
list=map(int,input().split())
print(sum(list))

 2 3 4
9

In [1]:
#tuple-->immutable,and rest is same as list
#use()

smk=(1,2,3,4,5)
l9=list(smk)
l9[2]=100
smk=tuple(l9)
smk

(1, 2, 100, 4, 5)

In [13]:
t={1,2,3,4}
t

{1, 2, 3, 4}

In [17]:
s=(1,2,3,4)
s[0]

1

In [2]:
#dict1={key1:value1,key2:value2,.........}
#rules for keys
#1.keys should  not be same ,it should be unique
#2.keys should be immutable(numbers,strings,tuple)

In [1]:
dict1={"name":"smk","rollno.":50,"course":"cse"}
dict1

{'name': 'smk', 'rollno.': 50, 'course': 'cse'}

In [2]:
#adding new entry into the dictionary
dict1["address"]="hyd"
dict1

{'name': 'smk', 'rollno.': 50, 'course': 'cse', 'address': 'hyd'}

In [3]:
dict1["name"]#extracting values from dictionary

'smk'

In [4]:
dict1["address"]

'hyd'

In [5]:
del dict1["course"]
dict1

{'name': 'smk', 'rollno.': 50, 'address': 'hyd'}

In [6]:
#updating a dictionary
dict1["name"]="manikrishna"
dict1

{'name': 'manikrishna', 'rollno.': 50, 'address': 'hyd'}

In [7]:
x=0
while false:
    x=x+1
print("so good to see you")

NameError: name 'false' is not defined

In [9]:
pwd

'C:\\Users\\manikittu\\Untitled Folder 1'